@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@600&family=Roboto+Mono:wght@300;700&display=swap');


/*
font-family: 'Bebas Neue', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Roboto Mono', monospace;
*/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #6b758a;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex{
  display: flex;
  flex-wrap: wrap;
  padding-top: 180px;
}

.shopping-card{
  display: flex;
  height: 150px;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  background-color: #333333;
  padding: 0px 25px;
  color: aliceblue;
  font-size: 50px;
}
.titulo-logo{
  font-family: 'Bebas Neue', cursive;

  font-size: px;


}
.titulo-producto{
  padding: 60px;
  font-size:50px;
  font-family: 'Bebas Neue', cursive;
}
.titulo-carrito{
  padding: 55px;
  font-family: 'Bebas Neue', cursive;
}



.cards{
  padding:5px 10px;
}
.product-item{
  padding: 10px ;
  border: 1px solid #282c34;
}
.cart-container{
  border-top: 1px solid
}

/*--Efectos para carrito seccion*/
.carritoshow{
  padding-top: 200px;
  padding-left: 20px;
  border-bottom: 2px solid #282c34;
}
.total{
  border: solid 1px #333333;
}
.continue{
  margin: 10px;
 
}
.btn-continue {
  padding: 10px;
}

